
*.class
*.d
*.aidl
*.o
*.a
*.so
frameworks/cocos2d-x/cocos/platform/android/java/bin/
frameworks/cocos2d-x/cocos/platform/android/java/gen/
frameworks/cocos2d-x/cocos/platform/android/java/libs/
frameworks/cocos2d-x/cocos/platform/android/java/local.properties
frameworks/runtime-src/proj.android/assets/
frameworks/runtime-src/proj.android/bin/
frameworks/runtime-src/proj.android/gen/
frameworks/runtime-src/proj.android/libs/
simulator/
frameworks/runtime-src/proj.android/.DS_Store
frameworks/runtime-src/proj.android/local.properties
backup-2018-01-14.zip
frameworks/.DS_Store
.DS_Store
frameworks/cocos2d-x/build/
frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.ios_mac/
frameworks/runtime-src/proj.ios_mac/