<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>purple1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{105,1},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{209,1},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{313,1},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{417,1},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{521,1},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>balloon_purple.png</string>
            <key>size</key>
            <string>{624,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:764cfae54262642dd5c127a1840b3cbf:c8a70281ba5af266ceffa39897d010d3:a34918686d2dc93ff7cd39abfc953abb$</string>
            <key>textureFileName</key>
            <string>balloon_purple.png</string>
        </dict>
    </dict>
</plist>
